/* ---------------------------------------------- /*
 * Fonts
/* ---------------------------------------------- */
@font-face {
	font-family: 'Masterblush-regular';
	src: url('../fonts/Masterblush-Regular.eot');
	src: url('../fonts/Masterblush-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Masterblush-Regular.woff2') format('woff2'),
		url('../fonts/Masterblush-Regular.woff') format('woff'),
		url('../fonts/Masterblush-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Masterblush-alt';
	src: url('../fonts/Masterblush-Alt.eot');
	src: url('../fonts/Masterblush-Alt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Masterblush-Alt.woff2') format('woff2'),
		url('../fonts/Masterblush-Alt.woff') format('woff'),
		url('../fonts/Masterblush-Alt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font: 300 14px/1.8 'Courier New', monotype;
	color: #333;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #b260ad;
	text-decoration: underline;
}

a:hover {
	color: #81476e;
}

/* ---------------------------------------------- /*
 * Transition elements
/* ---------------------------------------------- */

.navbar a,
.form-control {
	-webkit-transition: all 0.4s ease-in-out 0s;
	   -moz-transition: all 0.4s ease-in-out 0s;
		-ms-transition: all 0.4s ease-in-out 0s;
		 -o-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}

/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
	-webkit-box-shadow: none;
			box-shadow: none;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font: 700 40px/1.2 'Courier New', monotype;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 5px 0 5px;
	color: #333;
}

h2 {
	font-size: 30px;
	margin: 0 0 30px;
}

h3 {
	font-size: 13px;
	letter-spacing: 1px;
	margin: 0 0 5px;
}

h4 {
	font-size: 12px;
	letter-spacing: 1px;
}

h5 {
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
}

h6 {
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 400;
}

/* ---------------------------------------------- /*
 * Reset border-radius
/* ---------------------------------------------- */

.btn,
.iconbox,
.progress,
#filter li,
.scroll-up a,
.form-control,
.input-group-addon {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}

/* ---------------------------------------------- /*
 * Input-group
/* ---------------------------------------------- */

.input-group .form-control {
	z-index: auto;
}

.input-group-addon {
	background: #D8E1E4;
	border: 2px solid #D8E1E4;
	padding: 6px 15px;
	font-weight: 700;
}

/* ---------------------------------------------- /*
 * Input styles
/* ---------------------------------------------- */

.form-control {
	background: #FFF;
	border: 1px solid #D8E1E4;
	font-size: 12px;
	padding: 0 15px;
}

.form-control:focus{
    border-color: rgba(135, 135, 135, 0.7);
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
	height: 38px;
	font-size: 13px;
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
	font-size: 11px;
	height: 30px;
}

textarea.form-control {
	padding: 15px;
    max-width: 100%;
    min-width: 100%;
}

/* ---------------------------------------------- /*
 * Custom button style
/* ---------------------------------------------- */

.btn {
	font-family: 'Courier New', monotype;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 8px 26px;
	border: 0;
	margin-bottom: 20px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
	outline: inherit !important;
}

/* Button size */
.btn-lg,
.btn-group-lg > .btn {
	padding: 10px 25px;
	font-size: 13px;
    background: rgba(17, 17, 17, 0.8);
    color: #fff;
}
.btn-lg:hover,
.btn-group-lg > .btn:hover{
    background: rgba(17, 17, 17, 1.8);
    color: #fff;
}

.btn-sm,
.btn-group-sm > .btn {
	padding: 6px 25px;
	font-size: 11px;
}

.btn-xs,
.btn-group-xs > .btn {
	padding: 5px 25px;
	font-size: 10px;
}

.btn .icon-before {
	margin-right: 6px;
}

.btn .icon-after {
	margin-left: 6px;
}

/* ---------------------------------------------- /*
 * General Styles
/* ---------------------------------------------- */

.full-divider {
	width: 100%;
	height: 1px;
	background-color: #eeeeee;
}

.container {
	text-align: center;
}

.pfblock {
	padding: 50px 0 50px;
}

.pfblock-gray {
	background: #fff;
}

.pfblock-image {
	padding: 0;
}

.pfblock-image,
.pfblock-image h1,
.pfblock-image h2,
.pfblock-image h3,
.pfblock-image h4,
.pfblock-image h5,
.pfblock-image h6 {
	color: #fff;
}

.pfblock-header {
	text-align: center;
	margin: 0 0 60px;
}

.pfblock-header-left {
	text-align: left;
}

.pfblock-header-left .pfblock-line {
	width: inherit;
	margin: 30px 0;
}

.pfblock-title{
    font-family: 'Courier New', monospace;
	color: #333333;
	text-transform: none;
	font-weight: normal;
	font-size: 36px;
	letter-spacing: 0px;
}

.pfblock-subtitle {
	font-family: 'Courier New', monospace;
	letter-spacing: 0px;
	font-style: normal;
	color: #333333;
	font-size: 16px;
}

.pfblock-line {
	background: #eeeeee;
	width: 100px;
	height: 1px;
	margin: 30px auto;
}

.pfblock-icon {
	font-size: 32px;
}

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

@media (max-width: 768px) {
	#home {
		background: url(../images/hero-mobile.jpg);
		background-color: #222;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-webkit-background-size: cover;
		   -moz-background-size: cover;
			 -o-background-size: cover;
				background-
				size: cover;
		padding: 0;
		height: 100vh;
		width: 100%;
	}
}

@media (min-width: 768px) {
	#home {
		background: url(../images/hero.jpg);
		background-color: #222;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-webkit-background-size: cover;
		   -moz-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;
		padding: 0;
		height: 100vh;
		width: 100%;
	}
}

.intro {
	position: absolute;
	width: 100%;
	top: 30%;
	margin: auto;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	padding: 0 15px;
}

.intro h1{
    font-weight: 800;
}

.ornament {
	width: 270px;
}


}

/* ---------------------------------------------- /*
 * Prelude
/* ---------------------------------------------- */

.story *{
    text-align: center;
}
.story {
	background: url(../images/engagement1.jpg);
	background-color: #222;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	color: #999;
	min-height: 600px;
	height: 100vh;
}

.story h2 {
	font-family: 'Courier New', monospace;
	text-transform: lowercase;
	font-weight: normal;
	letter-spacing: 0px;
	font-size: 20px;
	color: #fff;
	margin-bottom: 0px;
	margin-top: 20px;
}

.story-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.ourstory-desc{
	font-family: 'Masterblush-alt';
	line-height: 100px;
    margin-bottom: 30px;
    font-size: 80px;
    color: #fff;
}


.story-btn {
	text-align: center;
	background: #fafafa;
    color: #333;
	padding: 15px 56px;
	margin-top: 20px;
	font-family: 'Courier New', monospace;
	font-size: 22px;
	margin-left: -10px;
}

.story-btn:hover {
	color: #333;
	background: #faeaff;
}

.long-down {
	margin-bottom: 40px;
}

/* ---------------------------------------------- /*
 * Festivities
/* ---------------------------------------------- */

.iconbox {
	background: #fff;
	text-align: center;
	padding: 40px 20px;
	margin: 0 0 20px;
}

.iconbox-icon {
	margin: 0 0 15px;
	font-size: 32px;
	color: #222;
}

.iconbox-title {
	margin: 0 0 15px;
	padding: 0;
	font-family: 'Courier New', monospace;
	font-size: 19px;
	text-transform: lowercase;
	font-weight: normal;
	color: #333;
}

.iconbox-desc {
	font-family: 'Courier New', monospace;	
	font-size: 16px;
	color: #333;
}

/* ---------------------------------------------- /*
 * Bridal Party
/* ---------------------------------------------- */
.sub-header {
	text-align: center;
	font-family: 'Courier New', monospace;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 0px;
	font-size: 30px;
	margin-bottom: 15px;
	margin-top: 5px;
}

/* ---------------------------------------------- /*
 * Plan Your Stay
/* ---------------------------------------------- */
.planyourtrip-subtitle {
	padding-bottom: 30px;
}

.column-split {
    text-align: center;
	margin: auto;
	font-size: 16px;
}

.clear {
	padding-top: 30px;
}

/* ---------------------------------------------- /*
 * RSVP
/* ---------------------------------------------- */
.rsvp-title {
	font-family: 'Masterblush-alt';
	font-size: 150px;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 0px;
	margin-top: -40px;
	color: #333;
}

.rsvp-bg {
	background-color: #d5bbde;
	background: url(../images/rsvp.png);
	background-repeat: no-repeat;
	background-position: 85% 100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.rsvp-sub {
	color: #222;
}


/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
	background: #222;
	text-align: center;
	padding: 40px 0;
	color: #FFF;
}

.copyright {
	margin: 0;
}

.copyright a{
    border-bottom: 1px dotted #fff;
}

#footer span{
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.header {
	border-bottom: 1px solid #f5f5f5;
	position: relative;
	width: 100%;
	z-index: 998;
}

.navbar-custom {
	border: 0;
	border-radius: 0;
	margin: 0;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
	background: #fff;
	padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	font-size: 13px;
	letter-spacing: 1px;
	color: #222;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Courier New', monospace;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
	background: none;
	outline: 0;
	color: #b260ad;
}

.navbar-custom .navbar-brand {
	font-size: 40px;
    font-family: 'Masterblush-alt';
	text-decoration: none;
	text-transform: none;
	padding-top: 17px;
}

.left{
	font-family: 'Storybook Left';
	display: inline;
}

.right{
	font-family: 'Storybook Right';
	display: inline;
}

.navbar-custom .dropdown-menu {
	border: 0;
	border-top: 2px solid #E7746F;
	border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
	padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
	background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #222;
}

/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 2em;
	right: 2em;
}

.scroll-up a {
	background-color: rgba(135, 135, 135, 0.3);
	display: block;
	width: 35px;
	height: 35px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
/*	background-color: rgba(235, 235, 235, .8);*/
	background-color: #faeaff;
	color: #333;
}

/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 0px;
/*	border: 1px solid #fff;*/
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -25px;
	display: block;
	z-index: 10;
    text-align: center;
	font-size: 28px;
	font-weight: 400;
}

.scroll-down span{
    position: relative;
    color: #fff;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: glow;
	-webkit-animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-name: glow;
	animation-iteration-count: infinite;
/*    -webkit-animation-name: drop;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;*/
}

@-webkit-keyframes glow {
       from { text-shadow: 0 0 0px #ffffff; }
       to { text-shadow: 0 0 50px #ffffff; }
   }


/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status {
	background-image: url(../images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */


@media (max-width: 768px) {

	.ourstory-desc{
		font-family: 'Masterblush-alt';
		line-height: 70px;
	    margin-bottom: 30px;
	    font-size: 50px;
	    color: #fff;
	}
	
	.story h2 {
		font-size: 16px;
	}
	
	.story-btn {
		padding: 15px 70px;
		font-size: 16px;
	}

	h1 {
		font-size: 34px;
		letter-spacing: 3px;
	}

	h2 {
		font-size: 24px;
		margin: 0 0 30px;
		letter-spacing: 3px;
	}
	
	.rsvp-title {
		font-size: 135px;
		padding-top: 20px;
	}
	
	.pfblock-title {
		font-size: 25px;
	}
	
	.pfblock-subtitle {
		font-size: 14px;
	}
	
	.iconbox-desc {
		font-size: 14px;
	}

	a {
		font-size: 14px;
	}
	
	.sub-header {
		font-size: 20px;
	}
	
	.bridal-pics-container {
		margin: auto;
		width: 255px !important;
	}

	.column-split {
		width: 80%;
	}

}

@media (min-width: 768px) {

	.bridal-pics-container {
		margin: auto;
		width: 510px !important;
	}
	
	.column-split {
		width: 65%;
	}

}

@media (min-width: 992px) {

	.bridal-pics-container {
		margin: auto;
		width: 765px !important;
	}

	.column-split {
		width: 50%;
	}

}

/*--------------------------------*/
/***** Grid *****/
/*--------------------------------*/

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 100%;
	list-style: none;
	text-align: center;
}

.grid h2{
    font-size: 20px;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: auto;
	width: 100%;
	margin: auto;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 0px;
	font-size: 70%;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	background: none;
}

figure.effect-bubba img {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.15;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba p {
	padding-left: 3px;
	padding-right: 3px;
	opacity: 0;
	color: #333;
	font-size: 13px;
	line-height: 12.5px;
	text-transform: none;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.people-title {
	font-size: 16px !important;
	margin-top: 0px !important;
	margin-bottom: 10px !important;
	letter-spacing: -1px !important;
	line-height: 14px !important;
}
